<html>
{% load staticfiles %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href = "/static/main.css" />
	  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>{% block header_scripts %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    {% endblock %}
<title>{{ title }}</title>
</head>

<body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="{% url 'journal:resources' %}">
				Max's Programming Journal
			  </a>
			</div>
			<ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'journal:create_resource' %}">Create New Resource</a></li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'journal:resources' %}">View Resources</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tech Types
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'journal:languages' %}">Languages</a>
                  <a class="dropdown-item" href="{% url 'journal:frameworks' %}">Frameworks</a>
                  <a class="dropdown-item" href="{% url 'journal:frontends' %}">Front End Frameworks</a>
                  <a class="dropdown-item" href="{% url 'journal:databases' %}">Databases</a>
                  <a class="dropdown-item" href="{% url 'journal:libraries' %}">Libraries</a>
                  <a class="dropdown-item" href="{% url 'journal:technologies' %}">Other</a>
                </div>
                </li>
			</ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'journal:resources' %}" method = "POST">
            {% csrf_token %}
            <input id="search_term" name="search_term" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>

		  </div>



      </nav>
	<div class="col-xs-12">
{% block content %}{% endblock %}
</body>
</html>
