{% extends 'base.html' %}
{% block content %}
<table class="table">
    <tr><th>Name</th></tr>
    {% for item in items %}
    <tr><td><a href = "{% url view_link id=item.id %}">{{ item.name }}</a></td></tr>
    {% endfor %}
    <tr><td><a href = "{% url view_link %}">Create new</a></td></tr>
</table>
{% endblock %}