{% extends 'base.html' %}
{% block content %}
{% if search_term %}
<h5> Resources containing search term "{{ search_term }}" - <a href="{% url 'journal:resources' %}" method = "GET">clear search</a></h5>
{% endif %}
<table class="table">
    <tr><th>Name</th><th>Link</th><th></th></tr>
    {% for res in resources %}
    <tr><td><a href = "{% url 'journal:edit_resource' id=res.id %}">{{ res.name }}</a> {% if res.attachment %}<span class="glyphicon glyphicon-paperclip"/>{% endif %}</td><td><a href="{{ res.link }}">{{ res.link}}</a></td><td>{% include 'partials/badges.html' with resource=res %}</td></tr>
    {% endfor %}
    <tr><td colspan="3"><a href = "{% url 'journal:create_resource' %}">Create new resource</a></td></tr>
</table>
{% endblock %}