{% load staticfiles %}

{% if resource.language %} <a href ="{% url 'journal:resources' resource.language.name %}" ><span class="badge badge-secondary">{{ resource.language }}</span></a>{% endif %}
{% if resource.framework %} <a href ="{% url 'journal:resources' resource.framework.name %}" ><span class="badge badge-primary">{{ resource.framework }}</span></a>{% endif %}
{% if resource.frontend %} <a href ="{% url 'journal:resources' resource.frontend.name %}" ><span class="badge badge-primary">{{ resource.frontend }}</span></a>{% endif %}
{% if resource.database %} <a href ="{% url 'journal:resources' resource.database.name %}" ><span class="badge badge-info">{{ resource.database }}</span></a>{% endif %}
{% if resource.library %} <a href ="{% url 'journal:resources' resource.library.name %}" ><span class="badge badge-warning">{{ resource.library }}</span></a>{% endif %}
{% if resource.technology %} <a href ="{% url 'journal:resources' resource.technology.name %}" ><span class="badge badge-danger">{{ resource.technology }}</span></a>{% endif %}